/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#my_menu_id {
  border: 1px solid #00AA66;
  padding: 5px;
  background-coler: #FFFF99;
  height: 30px;
}

.menu_item {
  border: 1px solid red;
  padding: 5px;
}

h1 {
  color: red;
}

